<!-- 2.4 Creando la plantilla principal del proyecto frontend :: Tener en cuenta que siempre en una pagina generada por Angular, 
 la unica pagina html que se carga es el index.html, luego, incrustrada en esta, está la seccion html del componente app, 
 y dentro de esta seccion html del componente app se encuentra incrustrado dinamicamente, gracias a esta etiqueta router-outlet, 
 una seccion html de un componente que varía de acuerdo a la url que se ingrese en el navegador y esta url se valida con los
 archivos de rutas definidos en el proyecto. La etiqueta router-outlet sirve para incrustar contenido html de un componente hijo
 cualquiera (validado por los archivos de ruta) en el contenido html del componente padre.-->
<router-outlet></router-outlet>.